<h6>Dashboard</h6>
{{!-- <ul class="collection"> --}}
<span class="collection-item avatar">
    <img src="{{user.image}}" alt="" class="circle">
    {{!-- <small class="title">{{user.displayName}}</small> --}}
    {{!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> --}}
</span>
{{!-- </ul> --}}
<h3>Welcome {{user.displayName}} </h3>
<p>Here are your stories</p>
{{#if stories}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><a href="/stories/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/stories/edit/{{_id}}" class="btn btn-float" style="float: left; margin-right:10px"><i
                        class="fas fa-edit"></i> </a>
                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red"><i class="fas fa-trash"></i></button> </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<P>No stories to display...Please add a story</P>
{{/if}}